<dl class="accordion" data-accordion>
  <% @nav_duties.keys.each do |category| %>
    <dd class="accordion-navigation">
      <a href="#duty_nav_<%= category %>"><%= category.capitalize.humanize %></a>
      <div id="duty_nav_<%= category %>" class="content">
        <ul>
          <% @nav_duties[category].each do |duty| %>
            <li><%= link_to "[#{duty.level}] #{duty.name}", duty %></li>
          <% end %>
        </ul>
      </div>
    </dd>
  <% end %>
</dl>
